*{
    padding: 0;
    margin: 0;
}

body{
    font-family: "Raleway",'Times New Roman', Times, serif;
    background-color: #f7f7f7;
    color: black;
}

h1,h2,h3{
    font-family: "Raleway";
}

p ,li {
    font-family: "Playfair Display";
}

.banner{
    position: relative;
    text-align: center;
    align-content: center;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-image: url("images/banner1.jpg");
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode:overlay ;
}

.banner_nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1500px;
  padding: 0 2rem;
}

.banner_nav-logo{
    font-size: 2rem;
    font-weight: 500;
}

.banner_nav-logo-links{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.banner_nav-logo-links a{
  color: orange;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 500;
}

.banner_title{
    font-weight: 500;
    font-size: 6rem;
}
.banner_description{
    color: orange;
    font-weight: 100;
    font-size: 2rem;
}

.products{
    display: flex;
    width: 100%;
    min-height: 80vh;
}

.food{
    padding: 100px;
    min-height: 75vh;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    
    }

.menu_title{
    padding: 50px;
    text-align: center;
    align-self: center;
    font-weight: 500;
    font-size: 5rem;
    text-decoration: underline;
    text-transform: uppercase;
}

.food_offer{
    min-width: 100%;
    background-color: white;
    display: flex;
    gap: 35px;
    padding: 20px;
    box-sizing:border-box;

}

.food_info{
  flex: 1;
}

.food_info-title{

    color: black;
    font-weight: 900;
    font-size: 3rem;
    text-decoration: underline;
}


.food_info-title-side{
    font-weight: 200;
    font-size: 2rem;
}

.food_info-description{
  color: orange;
  font-weight: 550;
  font-size: 1.5rem;
}


.food_info-images{
   flex: 1;
   width: 500px;
   height: 500px;
   border-radius: 5px;
   background-color: #e0e0e0;
   }

.food_info-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.drink{
    padding: 100px;
    min-height: 75vh;
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
}

.drink_offer{
    min-width: 100%;
    background-color: white;
    display: flex;
    gap: 35px;
    padding: 20px;
    box-sizing:border-box;

}

.drink_info{
  flex: 1;
}

.drink_info-title{

    color: black;
    font-weight: 900;
    font-size: 3rem;
    text-decoration: underline;
}


.drink_info-title-side{
    font-weight: 200;
    font-size: 2rem;
}


.drink_info-images{
   flex: 1;
   width: 500px;
   height: 500px;
   border-radius: 5px;
   background-color: #e0e0e0;
   }

.drink_info-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



footer {
    text-align: center;
    background-color: white;

}

.contact_title{
  padding: 25px;  
  font-size: 3rem;
}

.contact_info-details{
    padding: 10px;
    font-weight: 900;
    font-size: 1.2rem;


}