*{
    padding: 0;
    margin: 0;
}

body{
    font-family: "Raleway",'Times New Roman', Times, serif;
    background: color #f9f9f9;;
    color: black;
}

h1,h2,h3{
    font-family: "Raleway";
}

p ,li {
    font-family: "Playfair Display";
}

.hero_nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: transparent;
    z-index: 1000;
    /* backdrop-filter: blur(10px); */
}

.hero_main {
    background: url("images/banner3.jpg");
    background-position: center;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode:overlay ;
    background-size: cover;
    height: 55svh;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero_nav-logo-links{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.hero_nav-logo-links a{
  color: #f9f9f9;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 500;
}

.hero_title{
    margin-top: 100px;
    font-weight: 900;
    font-size: 3.5rem;
    color: #2c2c2c;
}
.hero_description{
    color: #556b2f;
    font-weight: 500;
    font-size: 1.5rem;
}



.products{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 80vh;
}


.menu_title h2 {
    padding-top: 10px;
    text-align: center;
    align-self: center;
    font-weight: 900;
    font-size: 3rem;
    text-transform: uppercase;
    color: #556b2f;
}

hr {
    width: 50%;
    margin: 0 auto;
    border: 2px solid #6b8e23;
    
}

.food{
    padding: 50px;
    min-height: 75vh;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    
    }


.food_offer{
    width: 250px;
    height: 250px;
    background-color: #f0f5f0;
    display: flex;
    gap: 20px;
    padding: 20px;
    box-sizing:border-box;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);

}

.food_info{
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.food_info-title{
    color: #556b2f;
    font-weight: 900;
    font-size: 1.5rem;
    overflow: visible;
    text-overflow: ellipsis;
}


.food_info-description{
  color:#6b8e23;
  font-weight: 550;
  font-size: 1rem;
  overflow: hidden;
}


.food_info-images{
   flex: 1;
   width: 150px;
   height: 150px;
   }

.food_info-images img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.drink{
    padding: 50px;
    min-height: 75vh;
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
}

.drink_offer{
    width: 250px;
    height: 250px;
    background-color: #f0f5f0;
    display: flex;
    gap: 20px;
    padding: 20px;
    box-sizing:border-box;
    overflow: hidden;
     box-shadow: 0 4px 8px rgba(0,0,0,0.1);

}

.drink_info{
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.drink_info-title{

    color: #556b2f;
    font-weight: 900;
    font-size: 1.5rem;
    overflow: visible;
    text-overflow: ellipsis;
}


.drink_info-images{
   flex: 1;
   width: 150px;
   height: 150px;
   }

.drink_info-images img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.villan_info{
display: flex;
justify-content: space-between;
padding: 20px 20px;

}

.villan_image{
    padding-left: 100px;
    width: 150px;
    height: 150px;
}

.villan_image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.villan_address{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.villan_address-title{
    font-size: 2rem;
}

.villan_address-details{
    font-size: 1rem;
    list-style: none;
}

footer {
  background: #f9f9f9
  ;
}

footer p {

  padding: 2rem 4rem;
  text-align: center;
}